:root {

      /* Colors referenced for Unit 1 - Custom Properties*/
      --color-main-bgdark: #000814;
      --color-gold: #FFC300;
      --color-carolinablue: #0077B6;
      --color-text-sectionheaders-yellow: #FFFF00;
      --color-text-sections-white: #FFFFFF; 
      --color-hoveringlinks-magenta: #FF00FF;
      --color-lightblue: #4B9CD3;
      --color-lightgray: #D3D3D3;
      --color-header
      
      /* Colors referenced for Unit 1 - Custom Properties*/



}