:root {

      /* Colors referenced for Unit 1 - Custom Properties*/
      --color-main-bgdark: #000814;
      --color-gold: #FFC300;
      --color-carolinablue: #0077B6;
      --color-text-sectionheaders-yellow: #FFFF00;
      --color-text-sections-white: #FFFFFF; 
      --color-hoveringlinks-magenta: #FF00FF;
      --color-lightblue: #4B9CD3;
      --color-lightgray: #D3D3D3;
      --card-background: rgb(2, 117, 2);
      --color-text: ;
      --span-color: #87CEEB;
      --h2-color: #39FF14;
      --headerbox: rgb(0, 54, 0);
      /* Colors referenced for Unit 1 - Custom Properties*/

}