:root {

/*Variables referenced for Unit 1 - Custom Properties*/
    /* Spacing */
      --space-xs: 0.50rem;
      --space-sm: 0.75rem;
      --space-md: 1.25rem;
      --space-lg: 2.50rem;
      --space-xl: 5rem;
      --space-flex: 2vw;
  
    /* Typography */ 
      --line-height: 1.75rem;
      --font-weight: 1.0rem;
      --letter-spacing: .25rem; 

    /* Borders */  
      --radius: 0.50rem;
      --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.5);


      --space-flex: 2vw;
/*Variables referenced for Unit 1 - Custom Properties*/

}