/* Color tokens: define all color values for the site.
   Name by purpose (--color-primary, --color-surface)
   not appearance (--blue, --light-gray). */
:root {
   /* Color Tokens */
      --color-background: #000814;
      --color-accent: #FFC300;
      --color-text: #00ff00;
      --color-primary: #FFFFFF; 
      --color-vlinks: #808080;
      --color-links: #bfe3ff;
      --color-hover: #0077B6;

      --color-gold: #FFC300;
      --color-main-bgdark: #000814;





      --color-main-bgdark: #000814;
      --color-gold: #FFC300;
      --color-carolinablue: #0077B6;
      --color-text-sectionheaders-yellow: #FFFF00;
      --color-text-sections-white: #FFFFFF; 
      --color-hoveringlinks-magenta: #FF00FF;
      --color-lightblue: #4B9CD3;
      --color-lightgray: #D3D3D3;
      --card-background: rgb(2, 117, 2);
      --span-color: #87CEEB;
      --h2-color: #39FF14;
      --headerbox: rgb(0, 54, 0);
      }
